# ===== Unity Generated Folders =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
Logs/
MemoryCaptures/

# ===== IDE Files =====
.vs/
*.csproj
*.sln
*.user
*.userprefs

# ===== Unity Asset Store (Tool packages) =====
Assets/AssetStoreTools*

